<div class="alert fade in alert-success" style="display: none; z-index: 90;">
  <button type="button" class="close" data-dismiss="alert">X</button>
  <strong></strong>
</div>

<div id="_part_modal_dialog" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3 id="myModalLabel">Warning</h3>
  </div>
  <div class="modal-body">
    <p></p>
  </div>
  <div class="modal-footer">
    <button id="_part_modal_dialog_cancell" class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button id="_part_modal_dialog_ok" class="btn btn-primary">Ok</button>
  </div>
</div>

<script src="@Url.Content("~/Scripts/alert.js")" type="text/javascript"></script>