@*
  Avaiable datas
  
  ViewBag._component_modalbutton_modalid 
  ViewBag._component_modalbutton_content 
  ViewBag._component_modalbutton_class
*@
<a href="#@(ViewBag._component_modalbutton_modalid)" role="button" 
                                                     class="@(ViewBag._component_modalbutton_class)" 
                                                     data-toggle="modal">@ViewBag._component_modalbutton_content</a>