
<div class="row">
    <h2>
        Oxo Game File Uploader
    </h2>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.DropDownList("themeDropDown", new List<SelectListItem>
    {
    new SelectListItem{ Text="Governance", Value = "Governance" },
    new SelectListItem{ Text="National Symbols", Value = "National Symbols" },
    new SelectListItem{ Text="SportArmed Forces", Value = "SportArmed Forces" },
    new SelectListItem{ Text="Art", Value = "Art" },
    new SelectListItem{ Text="Economy", Value = "Economy" },
    new SelectListItem{ Text="Geography", Value = "Geography" },
    new SelectListItem{ Text="Heritage", Value = "Heritage" },
    new SelectListItem{ Text="Literature", Value = "Literature" },
    new SelectListItem{ Text="Performing Arts", Value = "Performing Arts" },
    new SelectListItem{ Text="Popular Culture", Value = "Popular Culture" },
    new SelectListItem{ Text="Science", Value = "Science" },
    },".....Select Theme.....", new { @class = "dropdown" })
        <input type="file" name="file" />
        <input type="submit" style="margin-top:10px;" value="Submit" />
    }

</div>
<style>
    .dropdown {
        height: 30px;
        margin-bottom: 10px;
        width: 187px;
        color: gray;
    }
</style>
